body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: 0 auto;
  /* letter-spacing: 2px; */
}

/* HOME */
.page-content {
  margin-left: 254px;
  background-color: #F4F7F5;
  /* padding-top: 60px; */
}

.header-icon-btn {
  margin-left: 5px !important;
}

.header-menu-item {
  font-size: 0.9em !important;
}

.content {
  text-align: center;
  padding-top: 60px;
}

.dashboard-title {
  padding-left: 25px;
  padding-top: 15px;
  margin: 0 auto;
  font-weight: lighter;
  text-align: left;
}

.dashboard-page {
  background-color: #F4F7F5;
  height: 960px;
  text-align: center;
}

.dashboard-logo {
  height: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #006CAA;
  font-weight: lighter;
  color: #006CAA;
}

.dashboard-welcome {
  margin-top: 15px;
  width: 100%;
  height: 18%;
  text-align: center;
  background-color: white;
}

.nav-first {
  padding-left: 15%;
}

.dashboard-header {
  height: 60px;
}

.dashboard-header-toolbar {
  margin: 0 auto;
}

.dashboard-p {
  padding-top: 15px;
  margin: 0 auto;
  font-size: 1.4em;
  color: white;
  font-weight: lighter;
  letter-spacing: 3px;
}

.dashboard-paper-header {
  height: 60px;
  background-color: #F4F7F5;
}

.dashboard-paper {
  width: 256px;
  height: 60px;
  background-color: #006CAA !important;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

.search-bar {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 16px;
  height: 30px;
  width: 50%;
}

/* ///////////////////////////////////
   /////////////Dashboard/////////// */

.recording-title {
  margin: 0 auto;
  color: #1B2228;
  font-size: .8em;
  letter-spacing: 1px;
}

.recording-sub {
  margin-top: 3px;
  color: gray;
  font-size: .7em;
  letter-spacing: 1px;
}

.recording-link {
  float: left;
}

.recording-description {
  float: left;
  margin-left: 5%;
}

.recording-avatar {
  float: left;
  margin-left: 4%;
}

.recording-icon {
  height: 30px;
  width: 30px;
  margin-left: 2px;
  color: #006CAA;
}

.recording-paper {
  display: flex;
}

.recording-playback {
  float: left;
  /* width: 100%; */
  /* margin-right: '10%' */
}

.recording-playback p {
  font-size: .7em; 
  float: right; 
  width: 100px; 
  padding-top: 13%;
}

.recording-playback-wrapper {
  float: right;
  width: 575px;
}

.recording-platform {
  float: right;
  margin-right: 15%;
}

.recording-platform p {
  font-size: .6em;
  margin: 0 auto;
  float: right;
  margin-top: 10%;
}

.recording-platform .icon-btn {
  padding: 0;
  width: 30;
  height: 30;
  float: left;
}

.recording-platform-text p {
  font-size: .8em; 
  margin: 0 auto; 
  letter-spacing: 2px; 
  margin-left: 6.5%; 
  margin-top: 10%;
}

.recording-block {
  width: 40%;
  float: left;
  margin-top: 1.5%;
}

.recording-latest-updates {
  /* margin-left: 1px; */
  overflow: scroll;
  height: 670px;
  width: 1400px;
  float: right;
  background-color: #F4F7F5;
}

.user-session {
  float: right;
}

#customFade {
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  -ms-transition-animation-duration: 2.5s;
}

#customFade1s {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-transition-animation-duration: 1s;
}

.hidden {
  visibility: hidden;
}

iframe {
  display: block;
}

/* HEADER */
.nav {
  display: inline;
}

#first {
   margin-left: 40%; 
   /* margin-left: 55%; FOR MONITOR VIEW*/
   display: inline;
}


.topnav {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    position: fixed;
    z-index: 100;
}

.topnav-content {
  margin-top: 1%;
}


ul {
  margin-left: 0;
  padding-left: 0;
}


.logo {
  height: 50px;
  width: 50px;
  margin-left: 5%;
  vertical-align: middle;
}

.active {
  background-color: #20262D;
}

/* SETTINGS */
.settings-beginning {
  margin-left: 3%;
}

.settings-code {
  color: #358C45;
  margin-left: 1%;
}

.settings-end {
  margin-left: 1%;
}

