.nav {
  display: inline;
}

#first {
   margin-left: 50%; 
   display: inline;
}


.topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*.topnav-content {
  margin: 0px auto;
  width: 960px;
}*/
ul {
  margin-left: 0;
  padding-left: 0;
}


.logo {
  height: 50px;
  width: 50px;
  margin-left: 60px;
  vertical-align: middle;
}



