.nav {
  display: inline;
}

#first {
   margin-left: 50%; 
   /* margin-left: 55%; FOR MONITOR VIEW*/
   display: inline;
}


.topnav {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    position: fixed;
    z-index: 100;
}

.topnav-content {
  margin-top: 1%;
}


ul {
  margin-left: 0;
  padding-left: 0;
}


.logo {
  height: 50px;
  width: 50px;
  margin-left: 5%;
  vertical-align: middle;
}

.active {
  background-color: #20262D;
}



