.page-content {
  margin-left: 260px;
  /* padding-top: 60px; */
}

.content {
  text-align: center;
  padding-top: 60px;
}

.dashboard-title {
  padding-left: 25px;
  padding-top: 15px;
  margin: 0 auto;
  font-weight: lighter;
  text-align: left;
}

.dashboard-page {
  background-color: #F4F7F5;
  height: 960px;
  text-align: center;
}

.dashboard-logo {
  height: 52px;
  padding-top: 28px;
  background-color: #006CAA;
  color: white;
}

.dashboard-welcome {
  margin-top: 15px;
  width: 92%;
  height: 50%;
  margin-left: 4%;
  text-align: left; 
  background-color: white;
}

.dashboard-header {
  height: 60px;
  vertical-align: middle;
}

.iframe {
  height: 2000px;
}