.App-title, h3{
  text-align: center;
  color: black;
  padding-top: 15px;
  /* font-family: 'Inconsolata', monospace; */
  width: 100%;
}

h2 {
  /* color: #006CAA; */
  /* margin: 0 auto; */
  text-align: center;
}

h4 {
  margin: 0 auto;
}

.App-logo {
  margin-top: 45px;
  height: 20%;
  width: 50%;
}

.logo-div {
  text-align: center;
  width: 100%;
}

.td-title {
  letter-spacing: 3px;
}

.td-sub {
  width: 80%;
  margin-left: 10%;
  letter-spacing: 1px;
}

table {
  width: 100%;
  margin-top: 100px;
}

.mini-logo-database {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.mini-logo-machinelearning {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.mini-logo-website {
  height: 100px;
  width: 100px;
  display: inline-block;
}

.dashboard-screenshot {
  margin-top: 60px;
  width: 60%;
}

.td-welcome {
  text-align: center;
  align-content: center;
  width: 33%;
}

.dashboard-welcome-table {
  margin: 0 auto;
}

.dashboard-welcome-td {
  width: 25%;
  text-align: center;
  align-content: center;
}

.app-text {
  font-size: 22px;
}

.dashboard-welcome-p {
  width: 60%;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto;
}

.dashboard-welcome-display {
  display: inline-block;
  margin: 0 auto;
}

.dashboard-welcome-stat {
  margin: 0 auto;
  font-size: 32px;
}

.dashboard-graph-1 {
  background-color: white;
  width: 50%;
}

h1 {
  display: inline;
  text-align: center;
}

hr {
  margin: 0 auto;
}


html, body {
  margin: 0;
}

.scroll {
  text-align: center;
  padding-top: 100px;
}

#section1 {
  /* background-color: #E63946; */
  height: 640px;
  margin-top: 1px;
}

#section2 {
  background-color: #EDEDED;
  text-align: center;
  margin: 0 auto;
  height: 1300px;
}

#section07 .a {
  padding-top: 80px;
}
#section07 .a span {
  position: absolute;
  top: 0;
  /* left: 50%; */
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 .a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 .a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 .a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.demo a {
  position: absolute;
  bottom: 20px;
  /* left: 50%; */
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section07 { background: center center / cover no-repeat;}
